In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [10]:
#seaborn settings
sns.set_palette("deep", desat=.6)
sns.set_context(rc={"figure.figsize": (8,4)})

In [11]:
data = pd.read_csv('data/esgotarpilhas2.csv')

In [12]:
data.head(3)

   15:08:35\t;\tDC\t;\t0  011\t;\tA
0  15:08:36\t;\tDC\t;\t0  011\t;\tA
1  15:08:37\t;\tDC\t;\t0  011\t;\tA
2  15:08:38\t;\tDC\t;\t0  011\t;\tA