In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

import seaborn as sns
# line below allows inline plotting in ipython notebooks
%matplotlib inline 
plt.rcParams['figure.figsize'] = (20.0, 8.0) # make plots bigger by default

In [23]:
parser =  lambda x: datetime.strptime(x,'%m/%d/%Y %H:%M:%S') ## needed for pandas to recognize this date format

In [28]:
df = pd.read_excel('data/esgotarpilhas5.xlsx')

In [29]:
df.head(3)

      nro       date      time        date_time tipo  valor tipo1 tipo2
0  262144 2017-01-01  09:27:26  1/1/17 09:27:26   DC  0.013     A     A
1  262145 2017-01-01  09:27:27  1/1/17 09:27:27   DC  0.013     A     A
2  262146 2017-01-01  09:27:28  1/1/17 09:27:28   DC  0.013     A     A